<footer class="bg-dark text-white py-4 mt-5 ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Bibliothèque de Jeux Vidéo</h5>
          <p class="small">Application de gestion pour les employés</p>
          <p class="small"> Développé par Rémi GENTIL</p>
        </div>
        <div class="col-md-6 text-md-end">
          <p class="small">© 2025 - Mini-Projet Angular</p>
          <p class="small">Version 1.4.5</p>
        </div>
      </div>
    </div>
  </footer>